<a href="https://colab.research.google.com/github/pizzianakbaik/pemograman-dasar/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
# INPUT NOUTPUT 1
# Program untuk menerima input dengan tipe data float

total = float (input("Berapa porsi makan yang Anda beli? : "))
Nama  = str (input("Siapa Nama Pelanggan ? : "))

print("Nama Pelanggan :", Nama)
print("Total Porsi    :", total)

Berapa porsi makan yang Anda beli? : 3
Siapa Nama Pelanggan ? : pizzi
Nama Pelanggan : pizzi
Total Porsi    : 3.0

In [95]:
tugas = 80
uts = 70
uas = 90
nilai_akhir = 75
print("tugas = 80")
print("uts = 70")
print("uas = 90")
print("Nilai_Akhir = 75")


# input standar kelulusan
nilai_mahasiswa = 20
standar_kelulusan =100
apakah_lulus = nilai_mahasiswa >= standar_kelulusan
perlu_remedial = nilai_mahasiswa < standar_kelulusan

# output
print("\n===== HASIL NILAI MAHASISWA =====")
print("Nilai Mahasiswa : {nilai_mahasiswa:}")
print("Standar Kelulusan     : {standar_kelulusan}")
print("Apakah Mahasiswa Lulus? {apakah_lulus}")
print("Perlu Remedial?        {perlu_remedial}")

tugas = 80
uts = 70
uas = 90
Nilai_Akhir = 75

===== HASIL NILAI MAHASISWA =====
Nilai Mahasiswa : {nilai_mahasiswa:}
Standar Kelulusan     : {standar_kelulusan}
Apakah Mahasiswa Lulus? {apakah_lulus}
Perlu Remedial?        {perlu_remedial}

In [96]:
# INPUT OUTPUT 2
# Contoh penggunaan operator format output

nama   = "pizzi"
usia   = 19         # integer
tinggi = 165      # float
lahir = 2006        # integer untuk contoh hex & octal

# Menggunakan operator format
print("Nama saya %s" % (nama))          # %s untuk string
print("Usia saya %d tahun" % (usia))    # %d untuk integer
print("Tinggi badan saya %f cm" % (tinggi))   # %f untuk float
print("lahir %d dalam heksadesimal = %x" % (lahir, lahir))  # %x untuk hex
print("lahir %d dalam oktal = %o" % (lahir, lahir))         # %o untuk octal

Nama saya pizzi
Usia saya 19 tahun
Tinggi badan saya 165.000000 cm
lahir 2006 dalam heksadesimal = 7d6
lahir 2006 dalam oktal = 3726

In [54]:
# ekpresi 1
# konversi waktu
total_detik = 358200
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 60
detik = sisa_detik % 60
print(f"Hasil Konversi: {jam} Jam, {menit} Menit, {detik} Detik")

Hasil Konversi: 99 Jam, 30 Menit, 0 Detik

In [97]:
# Program Menghitung Total Harga dengan Diskon

# input belanja via keyboard
belanja = float(input("Masukkan total belanja: "))

# logika diskon
if belanja > 1000000:
    diskon = 0.35 * belanja
elif belanja > 500000:
    diskon = 0.10 * belanja
else:
    diskon = 0

# hitung total harga
total_harga = belanja - diskon

# output
print(f"Total belanja : {belanja}")
print(f"Diskon        : {diskon}")
print(f"Total harga setelah diskon = {total_harga}")

Masukkan total belanja: 850000
Total belanja : 850000.0
Diskon        : 85000.0
Total harga setelah diskon = 765000.0